<div class='col-sm-6 col-lg-4'>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><%= link_to exam.title, exam %></h4>  
      <p class="card-text"><%= truncate(exam.desciption, length: 130) %></p>
    </div>   
  </div>
</div>